*{
    margin: 0px;
    padding: 0px;
}
.cards{
    width: 20%;
    margin: 20px;
    padding: 1px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px grey;
    display: inline-block;
}
.cards:hover{
    box-shadow: 4px 4px 8px grey;
}
.cards img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.title{
    padding: 10px;
    text-align: center;
}
.des{
    padding: 10px;
    text-align: center;
}
.des button{
    padding: 8px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: white;
}
button:hover{
    background-color: black;
    cursor: pointer;
    color: white;
}